<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-dns-prefetch-control" content="on"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
        <title>xxxx</title>
        <meta name="keywords" content="xxxx"/>
        <meta name="description" content="xxxx"/>
        <script src="__app_js__/jquery.2.0.min.js"></script>
        <link href="__app_css__/wap_common.css" rel="stylesheet">
        <link rel="Bookmark" href="touch-icon-iphone.png" />

        <!-- 皮肤 S-->
                <!-- 皮肤 E-->

        <!-- 视频 S -->
        <link href="__app_css__/wap-video.css" rel="stylesheet">
        <!-- 视频 E -->

        <link href="__app_css__/wapcat.css" rel="stylesheet"/>
        <script src="__app_js__/lazyload.js" ></script>
        
    </head>
    <body data-appid="499115" data-in="1">
        <div class="main-title clearfix theme-bg-color-1">
            <a href="__URL__/index" class="main-back"></a>
            <div class="menu-detail">
                <span>女装</span>
            </div>
            <a class="mui-action-menu main-more" href="javascript:void(0)" id="cat-action-menu"></a>
        </div>
        <nav id="detail-top-menu">
            <div class="arrow"></div>
            <div class="mask" id="menu-mask2"></div>
            <div class="detail-menu-content">
                <ul class="main-detail">
                    <li>
                        <a href="__URL__">首页</a>
                    </li>
                    <li>
                        <a href="__URL__/app_search">搜索/分类</a>
                    </li>
                    <!-- <li>
                        <a href="/index.php?r=index/feedback">我要反馈</a>
                    </li> -->
                </ul>
            </div>
        </nav>
        <!-- 主界面具体展示内容 -->
        <div class="icon_nav_tab tav_load" 
    ui-nav-swiper 
    data-active="[1]"
    data-callback="getGoodsListItem"
    data-ready="getGoodsListready"
    data-url="/index.php" 
>
    <div class=" swiper-container "  >
      <div class="swiper-wrapper" >
      </div>
      <a href="javascript:;" class="tab_def_list"></a>
      <div class="load"></div>
    </div>
</div> 
<div class="icon_nav_tab_bg" style="height: 88px;"></div>
    
<div class="cat_tab_list ">
    
</div>
<div class="cat_tab_list_load"></div>
<div class="order-nav order-nav-cat" style=" position: relative; top: 0; margin-top: 0;">
    <ul>
        <li class="theme-border-bottom-color-1 cur">
            <span><a data-sort="t" class="theme-color-1" href="/index.php?r=index/cat&px=t&cid=1&u=499115">人气</a></span>
        </li>
        <li class="">
            <span><a data-sort="latest"  href="/index.php?r=index/cat&px=latest&cid=1&u=499115">最新</a></span>
        </li>
        <li class="">
            <span><a data-sort="sell"  href="/index.php?r=index/cat&px=sell&cid=1&u=499115">销量</a></span>
        </li>
        <li class="">
            <span><a data-sort="price"  href="/index.php?r=index/cat&px=price&cid=1&u=499115">价格
                <span class="price-ico "></span>
<!--                    ico-up 升序   ico-down降序-->
                </a></span>
        </li>
    </ul>
</div>

<div class="order-nav-bg ov_h " style="height: 0"></div>

<style>
    .scrollable{
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-box-flex: 1;
        background-color: #faf5f6;
    }
</style>
<div class="scrollable">

<div class="goods-list" data-page="2" style="padding-top: 0;">
            <div class="goods-item">
            <a data-gid="13364915" href="/index.php?r=p/d&id=13364915&u=499115"  class="img">
                                <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>3</b></span>                <span class="today-wrapper"><b>NEW</b></span>                                <img class="lazy" src="../picture/rolling.gif"  data-original="https://img.alicdn.com/imgextra/i2/3082805632/TB2t5R3pNuTBuNkHFNRXXc9qpXa_!!3082805632.jpg_310x310.jpg" alt="">
            </a>
            <a data-gid="13364915" href="/index.php?r=p/d&id=13364915&u=499115" class="title">
                <div class="text">夏季女短款防晒衣款薄外套</div>
            </a>
            <div class="price-wrapper">
                <span class="price">￥<span>31</span></span><span class="price_yj">￥34</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">23055</span></div>            </div>
        </div>
            <div class="goods-item">
            <a data-gid="13398284" href="/index.php?r=p/d&id=13398284&u=499115"  class="img">
                                <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>10</b></span>                <span class="today-wrapper"><b>NEW</b></span>                                <img class="lazy" src="../picture/rolling.gif"  data-original="https://img.alicdn.com/imgextra/i2/TB1BsnvLVXXXXaaXVXXXXXXXXXX_!!0-item_pic.jpg_310x310.jpg" alt="">
            </a>
            <a data-gid="13398284" href="/index.php?r=p/d&id=13398284&u=499115" class="title">
                <div class="text">夏季新款时尚轻薄钩花防晒服</div>
            </a>
            <div class="price-wrapper">
                <span class="price">￥<span>29.9</span></span><span class="price_yj">￥39.9</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">3422</span></div>            </div>
        </div>
            <div class="goods-item">
            <a data-gid="13205056" href="/index.php?r=p/d&id=13205056&u=499115"  class="img">
                                <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>10</b></span>                                                <img class="lazy" src="../picture/rolling.gif"  data-original="//img.alicdn.com/imgextra/i1/2176361863/TB2QMMxiaSWBuNjSsrbXXa0mVXa_!!2176361863.jpg_310x310.jpg" alt="">
            </a>
            <a data-gid="13205056" href="/index.php?r=p/d&id=13205056&u=499115" class="title">
                <div class="text">【拍3件44.7】驳友宽松ins印花T恤</div>
            </a>
            <div class="price-wrapper">
                <span class="price">￥<span>44.75</span></span><span class="price_yj">￥54.75</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">88267</span></div>            </div>
        </div>
    
</div>
    <div class="pullup-goods">
        <div class="label">商品加载中...</div>
    </div>
</div>
<script src="__app_js__/swiper-3.4.2.jquery.min.js"></script>
<script src="__app_js__/wap_goods.js"></script>
<script language="javascript">
    $(".main-title .main-back").attr("href","/index.php?r=index/wap");
    $cat = new cmsCat({
            cid:"1",
            catSort:"t" ,
            getUrl: "/index.php?r=index/ajaxcat"
        },"cXVlcnlUaGVuRmV0Y2g7NDsyNzQ5MTc0NzY4OkJWRVVlVFRLUzF1aGVYUW52RkhvQkE7Mjc0ODczOTY3NDpKTmxzUWI5SVJwcVVqMkV6YzRXd2hBOzI3NDk2ODAwMTk6M3BudXQ4azhUdHEtVlZIcU9qZUwzdzsyNzQ5NjM3NTM4OjR0b09PZUxJUlNHaTcyNmducFpPekE7MDs=");
    var getGoodsListItem = function(cid,name){
        $cat = new cmsCat({
            cid:cid,
            catSort:"t",
            getUrl: "/index.php?r=index/ajaxcat"
        },"");
        $(".menu-detail span").html(name);
        
    };

    // 头部分类初始化完毕回掉
    var getGoodsListready = function(){
        // var orderNavBg = ".order-nav-bg";
        // var orderNav = ".order-nav";        
        // var orderNavBgTop = $(orderNavBg).offset().top;
        // $(orderNav).css("top",orderNavBgTop+"px");
    }

</script>
        
        <div class="toTop">&#xe6a4;</div>
        <div style="display: none;">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261605092'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261605092' type='text/javascript'%3E%3C/script%3E"));</script>        </div>
        <script src="__app_js__/cms_common.js"></script>
    </body>
</html>