<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-dns-prefetch-control" content="on"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
        <link rel="apple-touch-icon" href="/touch-icon-iphone.png"/>
        <link href="/favicon.ico" rel="shortcut icon" />
        <link href="/favicon.ico" rel="icon">
        <link href="/touch-icon-iphone.png" rel="Bookmark" />

        <title>xxxx</title>
        <meta name="keywords" content="xxxx"/>
        <meta name="description" content="xxxx"/>
        <link href="__app_css__/swiper.min.css" rel="stylesheet">
        <link href="__app_css__/wap_common.css" rel="stylesheet">
        <link href="__app_css__/swiper-3.4.2.min.css" rel="stylesheet">
        <!-- 皮肤 S-->
                <!-- 皮肤 E-->
        <!-- 视频 S -->
        <link href="__app_css__/wap-video.css" rel="stylesheet">
        <!-- 视频 E -->
        <link href="__app_css__/wap_search.css" rel="stylesheet"/>
        <link href="__app_css__/wapindex.css" rel="stylesheet"/>

        <script src="__app_js__/jquery.2.0.min.js"></script>
        <script src="__app_js__/swiper.jquery.min.js"></script>
        <script src="__app_js__/lazyload.js"></script>
        <script src="__app_js__/cms_wap_index.js"></script>
       
    </head>
    <body  data-appid="499115" data-in="1">
        <div class="main-title clearfix theme-bg-color-1" style="height: 44px">
            <a href="/index.php?r=index/wap&u=499115" style="width:75px;" class="main-logo fl">
                <!--优先显示图片，图片没有在显示名字-->
                <img src=../picture/shoujiji.png height="28">            </a>

            <div class=" fl mysrc">
                <form action="/index.php?r=l&kw=%E5%A5%B3%E8%A3%85%E5%A4%8F" method="get">
                    <button class="search_submit background" style="left: 0;"></button>
                    <div   class="search_area">搜索</div>
                </form>
            </div>

           <!--下载s-->
             {//
                <a id="mui-action-app" class="mui-action-menu mui-pull-left main-icon fr" href="__URL__/cate_list">
                    <span></span>
                </a>
             }
            
           {//
            分类展示
            <a href="__URL__/cate_list"  class="mui-action-menu mui-pull-left main-icon fr" href="javascript:void(0)">
                <span></span>
            </a>
            }
        </div>
        <!-- 主界面具体展示内容 -->

<style>
    .greeting-close{
        position: absolute;
        bottom: -45px;
        left: 45%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image:url("../images/icon_ad_close.png");
        background-size: contain;
    }
    .xlb{
        width: 15px;
        height: 22px;
        float:left;
        background-image: url("../images/cms-img.png");
        background-position: -193px -27px;
        background-repeat: no-repeat;
        margin-top: -4px;
        background-size: 300px auto;
    }
    .nav_editer {
        position: relative;
    }
    .nav_editer:after {
        content:'';
        width: 24px;
        left: 50%;
        top:6px;
        margin-left: 7px;
        height:20px;
        position: absolute;
        background:  url("") center top no-repeat;
        background-size: 100%;
    }
    /* .scrollable{
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 50px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-box-flex: 1;
        background-color: #faf5f6;
    } */
</style>

<!--问候开始-->
<input id="greetType" type="hidden" value="0">
<!--问候结束-->

{//
<!-- 顶部显示列表信息 -->
<div class="icon_nav_tab tav_load" data-active="[100000001]" ui-nav-swiper data-config="{slidesPerView : 'auto',initialSlide :0}" data-url="/index.php">
    <div class=" swiper-container "  >
      <div class="swiper-wrapper" >
      </div>
      <a href="javascript:;" class="tab_def_list"></a>
      <div class="load"></div>
    </div>
</div>
}
<div class="icon_nav_tab_bg"></div>
    
<div class="scrollable" id="scrollable" style="padding: 44px 0 57px;">

<div class="index-wrapper" style="padding-bottom: 1px;" data-ggwurl="/index.php?r=index/recomd&type=2">
    <!--轮播广告开始-->
    <div class="swiper-container lunbo" id="swiper-container" style="width: 100%;">
        <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                            <a href="/index.php?r=a/t&i=0dc63ea65bbc3f7b" >
                                <img style="width: 100%;" src="../picture/tb2q4krkharbknjszflxxc_dvxa-2053469401.jpg"/>
                            </a>
                        </div>
                                <div class="swiper-slide" >
                        <a href="__URL__/app_detail&u=499115" data-gid="13155076" data-ci="522751" data-in="1" data-uid="499115" data-cn="25">
                            <img style="width: 100%;" src="../picture/tb25brxteosbunjy0fdxxbdnvxa_!!2508158775.jpg"/>
                        </a>
                    </div>
                    </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--轮播广告结束-->

    <!--大家都在买开始-->
    
            <a class="pop-link" href="" style="display: none"><img class="dzm-img" src="" alt=""><em></em><p class="misaoshu">此商品刚刚被领券 (☆_☆)</p></a>

            <script>
                setInterval(function(){
                    var tPaht="/index.php?r=index/everybuy";
                    $.ajax({
                        url:tPaht,
                        data:{
                            t:'c'
                        },
                        type:'post',
                        dataType:'json',
                        success:function(data){
                            if(data.status==0){
                                if(!data.data.img) return false;
//                                $(".misaoshu").text(data.data.miaoshu);
                                $(".dzm-img").attr('src',data.data.img+'_50x50.jpg');
                                $(".pop-link").attr('href',data.data.url);
                            }
                        }
                    });
                    $(".pop-link").delay(1000).fadeIn();

                    setTimeout(function(){
                        $(".pop-link").fadeOut();
                    },4000)


                },13000);
           </script>

            <script>
                (function(){
                    window.onresize = function(){
                        $('.index-wrapper .swiper-slide').height($('.index-wrapper .swiper-container').width()/414*173);
                        $('.index-wrapper .swiper-container').height($('.index-wrapper .swiper-container').width()/414*173);
                    }
                    $('.index-wrapper .swiper-slide').height($('.index-wrapper .swiper-container').width()/414*173);
                    $('.index-wrapper .swiper-container').height($('.index-wrapper .swiper-container').width()/414*173);

                })()
            </script>
            <!--大家都在买结束-->


    
    <!--顶部导航开始-->
                   <style type="text/css">
.renav{
width:100%;
height:20px;
line-height:20px;
overflow:hidden;
margin-top:10px;
margin-bottom:10px;
box-shadow: 0 0 5px #FE4A65;
}
.renav ul{
    text-align:center;
    padding:0 0.5em;
}
.renav ul li{
list-style: none;
font-size: 0.8em;
height:20px;
color: red;
}
</style>
<script type="text/javascript">
    
$(function(){
var that = $(".renav");
var scrollTimer;
that.hover(function(){
clearInterval(scrollTimer);
},function(){
scrollTimer = setInterval(function(){
scrollNews( that );
}, 3000 );
}).trigger("mouseout");
});
function scrollNews(obj){
var selfs = obj.find("ul:first");
var lineHeight = selfs.find("li:first").height();
selfs.animate({ "margin-top" : -lineHeight +"px" },400 , function(){
selfs.css({"margin-top":"0px"}).find("li:first").appendTo(selfs);
})
}
</script>
    
{// 注释
<div class="renav">
<ul>
    
        <li>周周券用户已突破40万，感谢您多年来的支持！</li>
        <li>苹果版APP激活码988888 客服微信：yueguang2363</li>
        <li>周周每天会坚持为大家更新超值宝贝. </li>
  
</ul>
</div>
  }
<div class="mywap">
                   <div class=" icon-link-wrapper" style="height: auto">

                       <ul class="icon-url-list clearfix">

                                                              <li class="">
                                       <a href="/index.php?r=realtime/fold" >
                                                                                          <i style="background: url('../images/zheszhe.png');background-size: 100%;"></i>
                                           
                                           <span>折上折</span>
                                       </a>
                                   </li>

                                                                  <li class="">
                                       <a href="__URL__/app_detail
                                                                                          <i style="background: url('../images/paihang1.png');background-size: 100%;"></i>
                                           
                                           <span>疯抢榜</span>
                                       </a>
                                   </li>

                                                                  <li class="">
                                       <a href="/index.php?r=every/e" >
                                                                                          <i style="background: url('../images/banjia4.png');background-size: 100%;"></i>
                                           
                                           <span>每日半价</span>
                                       </a>
                                   </li>

                                                                  <li class="">
                                       <a href="/index.php?r=index/cat&cid=6" >
                                                                                          <i style="background: url('../images/meishi.png');background-size: 100%;"></i>
                                           
                                           <span>好吃嘴</span>
                                       </a>
                                   </li>

                                                              <em class="border border_l_t"></em>
                               <em class="border border_l_b"></em>
                               <em class="border border_r_t"></em>
                               <em class="border border_r_b"></em>
                       </ul>

                   </div>
               </div>

       

        <!--顶部导航结束-->

</div>

    <!--公告开始-->
        <!--公告结束-->

<!--自定义导航开始-->
<!--自定义导航结束-->

<!--咚咚抢开始-->
<div class="shoufa-wrapper">
    <div class="title-wrapper">
        <div class="shoufa-tit  theme-border-left-color-1">
            <!-- <span class="shoufa-img"></span> -->
            <span class="shoufa-txt">
                                            <b><i class="theme-color-1"></i>正在抢购</b>
                    
                </span>
            <a href="/index.php?r=ddq/wap">查看更多></a>
        </div>
    </div>

    <div class="shoufa-list">
        <ul>
                                <li>
                        <a data-gid="13320017" href="__URL__/app_detail" class="img" >
                            <img src="../picture/tb274ewvrywbunksmfpxxxguvxa_!!2302546534.jpg_240x240.jpg" alt="">
                                                    </a>
                        <a data-gid="13320017" href="__URL__/app_detail" class="title">
                            <div class="text">大东旗舰店  夏季新款高跟时尚凉鞋</div>
                        </a>
                        <div class="price-wrapper">
                            <span class="price">￥<b>59</b></span>
                            <span class="text">券后</span>
                        </div>
                    </li>
                                    
                                    <li>
                        <a data-gid="13402771" href="__URL__/app_detail" class="img" >
                            <img src="../picture/tb2stydswmwbunjy1xaxxxcbxxa_!!2642961985.jpg_240x240.jpg" alt="">
                                                    </a>
                        <a data-gid="13402771" href="__URL__/app_detail" class="title">
                            <div class="text">鲜享  小西米500g+100g玉米糁</div>
                        </a>
                        <div class="price-wrapper">
                            <span class="price">￥<b>6.8</b></span>
                            <span class="text">券后</span>
                        </div>
                    </li>
                                    <li>
                        <a data-gid="13402932" href="__URL__/app_detail" class="img" >
                            <img src="../picture/tb2ptrbgmvd8kjjssplxxaiefxa_!!1037635562.jpg_240x240.jpg" alt="">
                                                    </a>
                        <a data-gid="13402932" href="__URL__/app_detail" class="title">
                            <div class="text">家世比  多功能可折叠床上户外懒人桌</div>
                        </a>
                        <div class="price-wrapper">
                            <span class="price">￥<b>9.9</b></span>
                            <span class="text">券后</span>
                        </div>
                    </li>
                        </ul>
    </div>
</div>
<!--咚咚抢结束-->

<div class="you-wrapper clearfix" id="more-goods">
    <!-- <div class="title-wrapper fl theme-border-left-color-1"></div> -->
    <div class="text fl theme-color-1  theme-bg-color-9">
        <span class="mui-badge mui-badge-blue main-badge">领取优惠券</span>
    </div>
</div>

<div class="goods-list" data-page="2">
                <div class="goods-item-ads">
                <a href="__URL__/app_detail" class="img"
                   data-gid="13264738"
                   data-ci="526753"
                   data-in="1"
                   data-uid="499115"
                   data-cn="30"
                   data-position="CMS"
                >
                    <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>3</b></span>                                                            <img src="../picture/tb24w1dgh5ybunjsspoxxbenfxa_!!3405505114.jpg_310x310.jpg" alt="">
                </a>

                <a href="__URL__/app_detail" class="title"
                   data-gid="13264738"
                   data-ci="526753"
                   data-in="1"
                   data-uid="499115"
                   data-cn="30"
                   data-position="CMS"
                >
                    <div class="text">亲力亲为软沙琪玛整箱848g早餐食品办公室休闲零食下午茶糕点点心</div>
                </a>
                <div class="price-wrapper">
                    <span class="price">￥<span>23</span></span><span class="price_yj">￥26.00</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">8255</span></div>                </div>
            </div>
                    
                    <div class="goods-item-ads">
                <a href="__URL__/app_detail" class="img"
                   data-gid="13212035"
                   data-ci="523903"
                   data-in="1"
                   data-uid="499115"
                   data-cn="30"
                   data-position="CMS"
                >
                    <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>5</b></span>                                                            <img src="../picture/tb2vhvvbq_85ujjszflxxxemxxa_!!2395142057.jpg_310x310.jpg" alt="">
                </a>

                <a href="__URL__/app_detail" class="title"
                   data-gid="13212035"
                   data-ci="523903"
                   data-in="1"
                   data-uid="499115"
                   data-cn="30"
                   data-position="CMS"
                >
                    <div class="text">全套60本幼儿童话故事书0-3-6周岁绘本宝宝睡前故事书启蒙有声小故事图书 婴幼儿园儿童早教书籍0-1-2-3-4-5-6-8岁童话带拼音童书</div>
                </a>
                <div class="price-wrapper">
                    <span class="price">￥<span>21.5</span></span><span class="price_yj">￥26.50</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">3937</span></div>                </div>
            </div>
    
        <div class="goods-item">
            <a href="__URL__/app_detail" class="img">
                <!--618-->
                                <!--618-->
                <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>5</b></span>                <span class="today-wrapper"><b>NEW</b></span>                <img class="lazy" src="../picture/rolling.gif"  data-original="https://img.alicdn.com/imgextra/i4/1050131635/TB2SnxqzVGWBuNjy0FbXXb4sXXa_!!1050131635.jpg_310x310.jpg" alt="">
                            </a>
            <a href="__URL__/app_detail" class="title">
                <div class="text" style=" color:#777777;">【百郡秦】速干运动五分短裤</div>
            </a>
            <div class="price-wrapper">
                <span class="price">￥<span>14.9</span></span><span class="price_yj">￥19.9</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">45881</span></div>            </div>
        </div>

    
        <div class="goods-item">
            <a href="__URL__/app_detail" class="img">
                <!--618-->
                                <!--618-->
                <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>10</b></span>                <span class="today-wrapper"><b>NEW</b></span>                <img class="lazy" src="../picture/rolling.gif"  data-original="https://img.alicdn.com/imgextra/i4/1812054091/TB2dd5ztruWBuNjSszgXXb8jVXa_!!1812054091.jpg_310x310.jpg" alt="">
                            </a>
            <a href="__URL__/app_detail" class="title">
                <div class="text" style=" color:#777777;">【送拆机工具】苹果4/5/6sp原装电池</div>
            </a>
            <div class="price-wrapper">
                <span class="price">￥<span>15</span></span><span class="price_yj">￥25</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">51383</span></div>            </div>
        </div>

    
        <div class="goods-item">
            <a href="__URL__/app_detail" class="img">
                <!--618-->
                                <!--618-->
                <span class="coupon-wrapper  theme-bg-color-1">券 <i>￥</i><b>20</b></span>                <span class="today-wrapper"><b>NEW</b></span>                <img class="lazy" src="../picture/rolling.gif"  data-original="https://img.alicdn.com/imgextra/i3/1621159062/TB2zaO1dlyWBuNkSmFPXXXguVXa_!!1621159062.jpg_310x310.jpg" alt="">
                            </a>
            <a href="__URL__/app_detail" class="title">
                <div class="text" style=" color:#777777;">大牌悦步tpe80cm宽男女瑜伽3件套</div>
            </a>
            <div class="price-wrapper">
                <span class="price">￥<span>49</span></span><span class="price_yj">￥69</span><div class="sold-wrapper"><span class="text">销量</span><span class="sold-num">42623</span></div>            </div>
        </div>

    </div>

    <div class="pullup-goods">
        <div class="label">商品加载中...</div>
    </div>
</div>

<!--菜单-->

    <ul class="bottomNav">
            <li >
                <a href="/index.php?r=index/wap">
                                            <img src="__app_picture__/bjjx_o.png" alt="">
                                        <p style="color: #1D82FE">主页</p>
                </a>
            </li>
        
        
            <li >
                <a href="__URL__/qg">
                                            <img src="__app_picture__/ddq_new_3.png" alt="">
                                        <p style="color: ">抢购</p>
                </a>
            </li>
            
            <li >
                <a href="__URL__/nine">
                                            <img src="__app_picture__/jrsx_o.png" alt="">
                                        <p style="color: ">9.9包邮</p>
                </a>
            </li>

        
            <li >
                <a href="__URL__/jingxuan">
                                            <img src="__app_picture__/xbs_o.png" alt="">
                                        <p style="color: ">编辑精选</p>
                </a>
            </li>

        
    </ul><p></p>

<!--底部导航结束-->

<!--搜索弹窗-->
<div class="search-pop">


    
    <div class="main-title clearfix theme-bg-color-1">
        <input type="hidden" name="wsw-status" value="0">
            <div class="search-tab">
                <a href="/index.php?r=index/classify&s_type=0" data-stype="0" class='my-sub-src cur center'>搜索优惠券</a>

                            </div>

        <a href="javascript:;" class="close-src"></a>
        <form action="/index.php?r=index/index" method="GET" id="my-search" >
            <div class="search  fl" style="background-color: #fff;border-radius: 20px;width: 70%">
                <input type="hidden" name="r" value="index/search">
                <input type="hidden" name="s_type" value="0">
                <input type="text"  autocomplete="off"
                       placeholder="搜索商品" value=""
                       name="kw" id="search_area"
                       class="old-search search_area" />

                <span class="src-close-btn"></span>

            </div>

                <button class="wap-srcBtn search_submit search-in background" type="submit" >搜 索</button>

        </form>
    </div>

    <script>
        $(".main-title .search-tab a").on("click",function(){
            $(".main-title .search-tab a").removeClass('cur');
            $(this).addClass('cur');
            $("input[name='s_type']").val($(this).data("stype"));
            var url = $(this).attr("href")+"&kws="+$("#my-search input[name='kw']").val();
            window.location.href=url;
            return false;
        });
        var kw_url = "/index.php?r=l&kw=%E5%A5%B3%E8%A3%85%E5%A4%8F";
        $('#my-search').on('submit',function(){
            if($(this).find("input[name='kw']").val()=="" && kw_url != ""){
                window.location.href=kw_url;
                return false;
            }
        });

    </script>

    <script>
        if($('.my-sub-src ').length>1){

        }else{
            $('#my-search .search').css('width','70%');
            $('.my-sub-src').removeClass('cur');
            $('.my-sub-src').css('opacity','1');
        }
    </script>


    
<script>
    $('.sub_str_srarch').on('click',function(){

        var v= $(this).data('t');
        $('.s_type_value').val(v);
        $('#my-search').submit();

    });


    if($('.my-sub-src ').length>1){
    }else{
        $('.my-sub-src').removeClass('cur')
    }

    $('.old-search.search_area').focus(function(){
//        $(".search-pop").css({"position":"absolute","top":"0"});
        $(".search-pop .main-title").css("position","absolute");
        $(".search-pop .search-cat").css({"position":"absolute","height":$(window).height()});
    });
    $('.old-search.search_area').focusout(function(){
//            $(".search-pop").css("position","fixed");
        $(".search-pop .main-title").css("position","fixed");
        $(".search-pop .search-cat").css("position","fixed");
    });


//判断是否首页搜索框
    $(function(){
        if($('.wap-src-cat').length>0){
            $(".close-src").on('click',function(){
                $(".search-pop").hide();
                $('.search-land').hide();
                $(".search-pop").find(".search_area").val('');
                $('body').unbind('touchmove')
                $('body').css('overflow-y','scroll');

            });
        }else{
        }

    })
</script>

    <div class="search-cat wap-src-cat">
        <div class="search-cat-tit">
            <span class="up-menu">热门搜索</span>
        </div>
        <div class="src-content">
            <ul class="main-src">
                            </ul>
            <div style="clear: both"></div>
        </div>

        <div class="search-cat-tit ">
            <span class="up-menu">商品分类</span>
        </div>
        <div class="menu-content">
                <!-- 预加载 搜素 -->
            <ul class="main-cat">
                <li class="cat-item mm-nolistview">
                    <a data-catid="1" href="/index.php?r=index/cat&cid=1&u=499115">女装</a>
                </li>
                <li class="cat-item ">
                    <a data-catid="3" href="/index.php?r=index/cat&cid=3&u=499115">美妆</a>
                </li>
             </ul>
        </div>
    </div>
</div>
<div id="snowBody"></div>

<ul class="search-land"></ul>
<!--搜索弹窗-->

<!--搜索弹窗-->

{//
不断请求
<script src="__app_js__/jsized.snow.min.js"></script>
<script>

    var tPaht = "/index.php?r=index/ajax";
    var my_cac_id = "cXVlcnlUaGVuRmV0Y2g7NDsyNzQ5MTY5MjI3OkJWRVVlVFRLUzF1aGVYUW52RkhvQkE7Mjc0ODczNDEzMzpKTmxzUWI5SVJwcVVqMkV6YzRXd2hBOzI3NDk2NzQ0Nzg6M3BudXQ4azhUdHEtVlZIcU9qZUwzdzsyNzQ5NjMxOTk3OjR0b09PZUxJUlNHaTcyNmducFpPekE7MDs=";

    var _url = "/index.php?r=index/kwarr";
    
    if($('.my-sub-src ').length>1){
    }else{
        $('.my-sub-src').removeClass('cur')
    }

</script>}

     
        <div class="toTop">&#xe6a4;</div>
        <div style="display: none;">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261605092'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261605092' type='text/javascript'%3E%3C/script%3E"));</script>        </div>
        <script src="__app_js__/cms_common.js"></script>
        <script src="__app_js__/cms_ggw_wap.js"></script>
        <script src="__app_js__/swiper-3.4.2.jquery.min.js"></script>
        <script>
            var sfUl = $('.shoufa-list ul'),
                sfLi = $('.shoufa-list ul li');
            sfUl.width(sfLi.length*123 + "px");
        </script>

    </body>
</html>